#trail {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(2, 2, 2, 0.55), rgba(0, 0, 0, 0.78)),
    url("./Images/background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow-x: hidden;
}
.facultyNav {
  background-color: rgb(2, 36, 42);
  color: white;
  width: 100vw;
  padding: 0.7rem;
}
.positionHamburger {
  position: absolute;
  top: 50;
  right: 0;
  transform: translate(-50, 0);
}
#navbarNav {
  color: white;
  margin-left: -10rem;
  justify-content: center;
}
@media (max-width: 800px) {
  #navbarNav {
    margin-left: 0;
  }
}
.linkHover {
  color: white;
  border: none;
}
.linkHover:hover {
  color: rgb(10, 146, 244);
  outline: none;
  border: none;
}
.logoNav {
  margin-top: 0.5rem;
  background-color: white;
  color: black;
  font-weight: 600;
  border-radius: 5px;
  letter-spacing: 2px;
  padding: 0.3rem 1rem;
}
.z100 {
  z-index: 100;
}
.hamburgerIcon {
  width: 30px;
  height: 30px;
}
.studentImage {
  width: 100%;
  height: auto;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border: none;
  border-radius: 5px;
}
.offWhiteBackground {
  background-color: #f5f5f5;
  height: 100vh;
  overflow-x: hidden;
}
.marginNegativeTop {
  margin-top: 4rem;
}
@media (max-width: 786px) {
  .marginNegativeTop {
    margin-top: -8rem;
  }
}
